{% extends "christmas_base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
	<!-- Start Banner -->
	<div class="ulockd-home-slider">
		<div class="container-fluid">
			<div class="row">
				<!--<div class="pogoSlider" id="js-main-slider">
					<div class="pogoSlider-slide" style="background-image:url(static/images/slider-01.jpg);"></div>
					<div class="pogoSlider-slide" style="background-image:url(static/images/slider-01.jpg);"></div>
				</div>-->
			</div>
		</div>
	</div>
	<!-- End Banner -->
	
	<!-- wish -->
	<div id="wish" class="about-box" style="padding-bottom: 150;padding-top: 0">
		<div class="about-a1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title-box">
							<h2>Welcome to Nicole's Christmas Village!</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							
							<div class="col-lg-6 col-md-6 col-sm-12 text_align_center">
						      <div class="full">
						      	  <img class="img-responsive" src="static/images/d2.png" alt="#" />
						      </div>
							</div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
								<h2><img style="width: 60px;" src="static/images/head_s.png" alt="#" /> Let's Start Christmas!</h2>
								<a href="/poweroff" class="hvr-radial-out button-theme">Power Off</a>
								<a href="/poweron" class="hvr-radial-out button-theme">Power On</a>
								<a href="/lights" class="hvr-radial-out button-theme">Set Lights</a>
								<a href="/lightsoff" class="hvr-radial-out button-theme">All Lights Off</a>
								<a href="/lightson" class="hvr-radial-out button-theme">All Lights On</a>
								<a href="/trainstop" class="hvr-radial-out button-theme">Stop Train</a>
								<a href="#" class="hvr-radial-out button-theme">Stop at Station</a>
								<a href="/trainstart" class="hvr-radial-out button-theme">Train Half Speed</a>
								<a href="/trainfull" class="hvr-radial-out button-theme">Train Full Speed</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
{% endblock %}